/* Import Google Font for optional fallback */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* === Custom Font Face === */
@font-face {
  font-family: "Clover Display";
  src: url("/fonts/CloverDisplay-Medium.ttf") format("truetype");
  /* font-weight: 900; */
  font-style: normal;
  font-display: swap;
}

/* === CSS Variables === */
:root {
  --font-clover: "Clover Display", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  background: #f3f4f6;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

/* === Default Font Application === */
body {
  font-family: var(--font-clover);
}

/* === Marquee Styles === */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  animation: marquee 500s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.stat-card {
  display: inline-block;
  margin-right: 20px; /* Space between items */
}

/* === Snowflake Animation === */
.snowflake {
  position: absolute;
  top: -10%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.8);
  }
}
